{% load static %}
<header class="header">
  <div class="container">
    <a href="{% url 'blog:index' %}" class="logo">
      <img src="{% static 'img/logo.png' %}" alt="Логотип Блогикум">
      <span>Блогикум</span>
    </a>
    <nav class="nav">
      <ul>
        <li><a class="nav-link {% if request.resolver_match.view_name == 'blog:index' %}active{% endif %}" href="{% url 'blog:index' %}">Лента записей</a></li>
        <li><a class="nav-link {% if request.resolver_match.view_name == 'pages:about' %}active{% endif %}" href="{% url 'pages:about' %}">О проекте</a></li>
        <li><a class="nav-link {% if request.resolver_match.view_name == 'pages:rules' %}active{% endif %}" href="{% url 'pages:rules' %}">Наши правила</a></li>
      </ul>
    </nav>
  </div>
</header>
